<div class="hotel col-lg-8  offset-lg-2" [@listAnimation]="hotels.length">
  <ul>
    <div class="hotel-card" *ngFor="let hotel of hotels" (click)="select(hotel)">
      <img class="hotel-card--img" src="{{hotel.url}}">
      <div class="hotel-card--text col-md-8 col-xs-12">
        <span class="hotel-card--text__heading">
          {{hotel.name}}
        </span>
        <span class="hotel-card--text__info">
          Hotel Rating: {{hotel.rating}} {{hotel.address}}
        </span>
        <span class="hotel-card--text__description">
          {{hotel.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis in praesentium, mollitia eius tempore
          culpa ab modi reiciendis eveniet sapiente quaerat commodi incidunt architecto consequatur dolorem eos, perspiciatis
          earum quae?
        </span>
      </div>
    </div>
  </ul>
</div>  
<!-- <app-hotel-details [hotel]="selectedHotel" (close)="onClose()"> </app-hotel-details> -->
<router-outlet> </router-outlet>