<div class="popup">
  <div class="popup__content col-sm-6" >
    <ul>
      <div *ngFor="let room of rooms">
        <div>
          Room Number: {{room.roomNumber}} Type: {{room.type}} Price: {{room.price}} Available: {{room.available}}
          <input type="checkbox" id="roomCheckbox" (change)="addToCart($event, room)">
        </div>
      </div>
    </ul>
    <div>
      <button class="btn" (click) = "makeReservation(content)">Reserve</button>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Reservation Summary</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Room list and price summary goes here</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="d()">Cancel</button>
  </div>
</ng-template>
<ng-template #confirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Your Reservation has been confirmed</p>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="c()">Dismiss</button>
  </div>
</ng-template>