<div class="popup" (click)="onCloseHandled()">

  <div class="popup__content col-lg-12">
    <div class="card col-lg-3 offset-lg-1" (click)="onCardClicked($event)">
      <div>
        <img src="https://s3.us-east-2.amazonaws.com/hotel-reservation-system/room-1.jpg" alt="Room" class="card__img">
      </div>
      <div class="card__description" [hidden]="showDatePicker1">
        <div class="card__description--title">
          <h1>Royal</h1>
        </div>
        <div class="card__description--content">
          <ul>
            <hr>
            <li>King size bed</li>
            <hr>
            <li>24 hour room service</li>
            <hr>
            <li>Royal perks</li>
            <hr>
            <li>In-room swimming pool</li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="card__date" [hidden]="!showDatePicker1">
        <form #f="ngForm" novalidate>
          <my-date-range-picker name="mydaterange" (dateRangeChanged)="onDateRangeChanged($event, 'ROYAL')" [options]="myDateRangePickerOptions"
            [(ngModel)]="model" required></my-date-range-picker>
        </form>

      </div>
      <div class="card__button">
        <button (click)="onCheckAvailable(1)" class="btn" [hidden]="showDatePicker1">Book Now</button>
        <button (click)="findAvailableRooms(1)" class="btn" [hidden]="!showDatePicker1" [disabled]="!f.valid">Check Availability</button>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------------ -->

    <div class="card col-lg-3" (click)="onCardClicked($event)">
      <div>
        <img src="https://s3.us-east-2.amazonaws.com/hotel-reservation-system/royal1.jpg" alt="Room" class="card__img">
      </div>
      <div class="card__description" [hidden]="showDatePicker2">
        <div class="card__description--title">
          <h1>Presidential</h1>
        </div>
        <div class="card__description--content">
          <ul>
            <hr>
            <li>Queen size bed</li>
            <hr>
            <li>24 hour room service</li>
            <hr>
            <li>Presidential perks</li>
            <hr>
            <li>In-room jacuzzi</li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="card__date" [hidden]="!showDatePicker2">
        <form #f="ngForm" novalidate>
          <my-date-range-picker name="mydaterange" (dateRangeChanged)="onDateRangeChanged($event, 'PRESIDENTIAL')" [options]="myDateRangePickerOptions"
            [(ngModel)]="model" required></my-date-range-picker>
        </form>
      
      </div>
      <div class="card__button">
        <button (click)="onCheckAvailable(2)" class="btn" [hidden]="showDatePicker2">Book Now</button>
        <button (click)="findAvailableRooms(2)" class="btn" [hidden]="!showDatePicker2" [disabled]="!f.valid">Check Availability</button>
      </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------------------------------------- -->

    <div class="card col-lg-3" (click)="onCardClicked($event)">
      <div>
        <img src="https://s3.us-east-2.amazonaws.com/hotel-reservation-system/room-3.jpg" alt="Room" class="card__img">
      </div>
      <div class="card__description" [hidden]="showDatePicker3">
        <div class="card__description--title">
          <h1>Deluxe</h1>
        </div>
        <div class="card__description--content">
          <ul>
            <hr>
            <li>Twin size bed</li>
            <hr>
            <li>Complimentary breakfast</li>
            <hr>
            <li>Deluxe perks</li>
            <hr>
            <li>In-room bathtub</li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="card__date" [hidden]="!showDatePicker3">
        <form #f="ngForm" novalidate>
          <my-date-range-picker name="mydaterange" (dateRangeChanged)="onDateRangeChanged($event, 'DELUXE')" [options]="myDateRangePickerOptions"
            [(ngModel)]="model" required></my-date-range-picker>
        </form>
      
      </div>
      <div class="card__button">
        <button (click)="onCheckAvailable(3)" class="btn" [hidden]="showDatePicker3">Book Now</button>
        <button (click)="findAvailableRooms(3)" class="btn" [hidden]="!showDatePicker3" [disabled]="!f.valid">Check Availability</button>
      </div>
    </div>
  </div>
</div>
