<div class="cont">
  <div class="home">
  </div>
</div>
<div class="home-description container">

  <h1 class="home-heading">
    <span class="home-heading-main">Comfort</span>
    <span class="home-heading-sub">find a good night's sleep</span>
  </h1>
  <p class="home-para">Find the luxurious getaway that you've always dreamed of. Login with user1 as username and admin as password destination Lorem ipsum
    dolor sit amet consectetur, adipisicing elit. Deleniti eveniet error culpa sit eius rerum minima.
  </p>
  <a routerLink="" (click)="hide=false" class="btn btn--white">Find your getaway</a>
</div>
<app-home-login [hidden]="hide" (close)="onCloseHandled()"></app-home-login>