<div class="home">
  
</div>
<div class="home-description container">
  
  <h1 class="home-heading">
    <span class="home-heading-main">Comfort</span>
    <span class="home-heading-sub">find a good night's sleep</span>
  </h1>  
  <p class="home-para">Find the luxurious getaway that you've always dreamed of. Choose from the best rated hotels in your destination Lorem ipsum
    dolor sit amet consectetur, adipisicing elit. Deleniti eveniet error culpa sit eius rerum minima. 
  </p>
  <a href="#" class="btn btn--white">Find your getaway</a>
</div>